<p class="lead">
  <em>You've found my CV online and wanted to know...</em>
</p>
<div class="text-center">
  <h1>Is Andrew Tatham Available?</h1>



  <div *ngIf="availability.isAvailable">
    <div class="alert alert-success alert-auto">
      <div>
        <h1>
          <i class="fas fa-check"></i>
            {{availability.availableText}}.
        </h1>
      </div>
    </div>

    <app-quiz></app-quiz>

  </div>

  <div *ngIf="!availability.isAvailable">
    <div class="alert alert-danger alert-auto">
      <div>

        <h1>
          <i class="fas fa-times"></i> No, I'm not available. {{availability.unavailableText}}
        </h1>
      </div>
    </div>
  </div>
</div>
