<div class="jumbotron text-center">
  <p class="lead">
    <em>You've got my CV and wanted to know...</em>
  </p>

  <h1 class="display-4">Is Andrew Tatham Available?</h1>


  <div *ngIf="availability.isAvailable">
    <div class="alert alert-success alert-auto fadein">
      <div>
        <h1 class="display-4">
          <i class="fas fa-check"></i> {{availability.availableText}}.
        </h1>
      </div>
    </div>
  </div>

  <div *ngIf="!availability.isAvailable">
    <div class="alert alert-danger alert-auto fadein">
      <div>

        <h1 class="display-4">
          <i class="fas fa-times"></i> {{availability.unavailableText}}
        </h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="availability.isAvailable">
  <app-quiz></app-quiz>
</div>
