.available {
    display: none
}

.unavailable {
    display: none
}

.quiz {
    font-size: 2em;
    text-align: center;
    margin: 1em 1em 2em 1em;
}

.quiz .btn {
    font-size: 1em;
    margin: 1px;
}
