<div class="card-body">

  <div *ngIf="hasQuestion">
    <h2>{{ question.questionText }}</h2>
    <div role="group" class="buttons">
      <button type="button" *ngFor="let answer of question.allAnswers" class="btn" [class.btn-success]="answer.isCorrect" [class.btn-danger]="!answer.isCorrect"
        (click)="onSelectAnswer(answer)">
        {{answer.text}}
      </button>
    </div>
  </div>

  <div *ngIf="isWinner">
    <div class="alert alert-success alert-auto clearfix">
      <h1>
        <i class="fa fa-check"></i> {{ winner.text }}</h1>
    </div>
  </div>

  <div *ngIf="isLoser">
    <div class="alert alert-danger alert-auto clearfix">
      <h1>
        <i class="fa fa-times"></i> {{ loser.text }}</h1>
    </div>
  </div>

</div>
