<app-availability-detail></app-availability-detail>



<div class="row options">
  <div class="col-md ">
    <div class="card">
      <app-mailing-list></app-mailing-list>
    </div>
  </div>
  <div class="col-md ">
    <div class="card">
      <app-download-cv></app-download-cv>
    </div>
  </div>
  <div class="col-md ">
    <div class="card">
      <app-email-me></app-email-me>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="text-center">
    <app-other-websites></app-other-websites>
  </div>
</footer>


<app-google-analytics></app-google-analytics>
